/* 
    Document   : myTerm
    Created on : 1 sept. 2014, 00:57:30
    Author     : simple
    Description:
        Purpose of the stylesheet follows.
*/
.searchMenu{
    margin-top: 10px;
    background-color:#EFF6FF;
    margin-bottom: 20px;
}
.panel{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.panel p {
    color: blue;
}
.panel th {
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%
}
.panel td {
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
}
.gwt-Tree{
    margin-top: 10px;
}
.gwt-Tree .gwt-TreeItem {
    padding: 1px 0px;
    white-space: nowrap;
    cursor: hand;
    cursor: pointer;
}
.gwt-TreeItem {
    color: blue;
}
.gwt-Tree .gwt-TreeItem-selected {
    background: #ebeff9;
}
.gwt-TreeItem .gwt-RadioButton input,
.gwt-TreeItem .gwt-CheckBox input {
    margin-left: 0px;
}
