/* 
    Document   : myTerm
    Created on : 1 sept. 2014, 00:57:30
    Author     : simple
    Description:
        Purpose of the stylesheet follows.
*/

.headerPanel{
    background-color: #4058A1;
}
.headerPanel p{
    color: white;
    font-size: 18px;
}
.headerPanel a{
    color: white;
}
.headerPanel a:hover{
    color: red;
}
.sideWidget{
    background-color: #EFF6FF;
}
.containerWidget{
    background-color: whitesmoke;
}
.searchMenu{
    margin-top: 5px;
    background-color:#EFF6FF;
    margin-bottom: 5px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px dashed black;
}
.langSetForm{
    margin-top: 10px;
    background-color: floralwhite;
    margin-bottom: 20px;
}
.conceptForm{
    margin-top: 10px;
    background-color: beige;
    margin-bottom: 20px;
}
.termForm{
    margin-top: 10px;
    background-color: honeydew;
    margin-bottom: 20px;
}
.ccontainerForm{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border:2px dashed black;
    alignment-adjust: central;
}
.lscontainerForm{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border:2px dotted red;
    alignment-adjust: central;

}
.tcontainerForm{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border:1px solid blue;
    alignment-adjust: central;
}
.cexpcontainerForm{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border:2px dashed red;
    alignment-adjust: central;
}
.lsexpcontainerForm{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border:2px dotted greenyellow;
    alignment-adjust: central;

}
.texpcontainerForm{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border:1px solid green;
    alignment-adjust: central;
}
.gwt-Anchor{
    cursor: pointer;
    cursor: hand;
}
.panel{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.panel p {
    color: blue;
}
.panel th {
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%
}
.panel td {
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
}
.cpanel{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cpanel p {
    color: blue;
}
.cpanel th {
    border:1px dotted green;
    padding:5px;
    background-color: beige;
    width:50%
}
.cpanel td {
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
}
.lspanel{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.lspanel p {
    color: blue;
}
.lspanel th {
    border:1px dotted green;
    padding:5px;
    background-color: beige;
    width:35%
}
.lspanel td {
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
}
.gwt-Tree{
    margin-top: 5px;
    background-color: aliceblue;
}
.gwt-Tree .gwt-TreeItem {
    padding: 1px 0px;
    white-space: nowrap;
    cursor: hand;
    cursor: pointer;
}
.gwt-TreeItem {
    color: blue;
}
.gwt-Tree .gwt-TreeItem-selected {
    background: #ebeff9;
}
.gwt-TreeItem .gwt-RadioButton input,
.gwt-TreeItem .gwt-CheckBox input {
    margin-left: 0px;
}
