<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>myTermService</servlet-name>
        <servlet-class>simple.myTerm.server.myTermServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLoginCheck</servlet-name>
        <servlet-class>simple.myTerm.server.userLoginCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myTermService</servlet-name>
        <url-pattern>/simple.myTerm.Main/mytermservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLoginCheck</servlet-name>
        <url-pattern>/userLoginCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>myTerm.html</welcome-file>
    </welcome-file-list>
</web-app>
